html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-image: url(images/Trump.gif);
  background-size: 100%;
}

canvas {
  background-color: transparent;
}
